<div class="panel panel-primary">

    <div class="panel-heading">
        <div class="panel-title clearfix">
            <h3>Audio Device</h3>
            <!--<small class="pull-right">{{id}}</small>-->
            <div class="pull-right">
                <span class="label label-success" ng-show="connected">Connected</span>
                <span class="label label-danger" ng-show="!connected">Not Connected</span>
            </div>

        </div>
    </div>

    <div class="panel-body" ng-show="connected">

        <div class="onoffswitch">
            <input type="checkbox" class="onoffswitch-checkbox" id="{{id}}-power" value="on" ng-model="power" ng-checked="power">
            <label class="onoffswitch-label" for="{{id}}-power">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>

        <div class="volume-container" ng-show="power">
            <input type="text" class="volume" ng-model="volume" disabled>
        </div>

    </div>

<!--
    <div class="panel-body" ng-show="!connected">
        <button type="button" class="btn btn-default btn-lg btn-block">CONNECT</button>
    </div>
-->

</div>

<style type="text/css">

    .onoffswitch, .volume-container {
        margin: 20px auto;
    }

    .volume-container > div {
        display: block !important;
        position: relative;
        margin: 20px auto;
    }

</style>