<div class="panel panel-primary">

    <div class="panel-heading">
        <div class="panel-title clearfix">
            <h3>Panel Device</h3>
            <!--<small class="pull-right">{{id}}</small>-->
            <div class="pull-right">
                <span class="label label-success" ng-show="connected">Connected</span>
                <span class="label label-danger" ng-show="!connected">Not Connected</span>
            </div>

        </div>
    </div>

    <div class="panel-body" ng-show="connected">
        <h4>Motion Last Recorded</h4>
        <p>{{lastmotion | date : 'medium' }}</p>
    </div>

</div>

<style type="text/css">

</style>